<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QR Code generator</title>
</head>
<body>
<p><h1>Available links</h1></p>

<p><h3><a href="/api/qrcode/text/'Hello World'">Text QR code</a></h3></p>
<p><h3><a href="/api/qrcode/text/'Hello World'/e8175d">Coloured text QR code</a></h3></p>
<p><h3><a href="/api/qrcode/vcard/{'FN':'John Doe','TEL':'123456789','EMAIL;TYPE=INTERNET':'johndoe@gmail.com'}">VCARD QR code</a></h3></p>
<p><h3><a href="/api/qrcode/vcard/{'FN':'John Doe','TEL':'123456789','EMAIL;TYPE=INTERNET':'johndoe@gmail.com'}/e8175d">Coloured VCARD QR code</a></h3></p>
</body>
</html>